/* colors to use:
 * bright orange: #B5580D
 * bright biege: #f3efe9
 * gold: #eab36c
 * dark orange: #bf5f0e
 * dark/text color: #373133
 */

#wrapper {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  background-color: #bf5f0e;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: #eab36c;
  border: 2px solid #373133;
  border-bottom: 0px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

nav {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav a {
  color: #373133;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

body {
  background: #f3efe9 url("../images/bubbles_bg_large_gradient.png") repeat-x bottom;
}

content {
  border: 2px solid #373133;
  padding: 10px;
  display: flex;
}


#map {
  height: 700px;
  width: 70%;
}

#right-panel {
  font-family: 'Roboto', sans-serif;
  color: #f3efe9;
  display: block;
  line-height: 30px;
  padding-left: 10px;
  font-size: 18px;
  width: 30%;
  height: 100%;
  float: left;
}

#floating-panel {
  /* someday change this to float correctly over the map */
  /* position: absolute; */
  /* top: 41%; */
  /* left: 28%; */
  /* z-index: 5; */
  font-family: 'Roboto', sans-serif;
  color: #f3efe9;
  background-color: #bf5f0e;
  line-height: 30px;
  font-size: 18px;
}

#floating-panel select {
  color: #373133;
  background-color: #f3efe9;
}

#right-panel select, #right-panel input {
  font-family: 'Roboto', sans-serif;
  color: #373133;
  background-color: #f3efe9;
  font-weight: bold;
  font-size: 18px;
}

#right-panel select {
  font-family: 'Roboto', sans-serif;
  background-color: #f3efe9;
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel option {
  font-weight: bold;
  font-size: 18px;
}

#directions-panel {
  display: block;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: #373133;
  background-color: #bf5f0e;
  overflow: auto;
  height: 327px;
}

.adp, .adp table {
  background-color: #f3efe9;
}
